.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  flex: 0 1 auto;
  width: 200px;
  justify-content: center;
  align-items: center;
}

#clickMe {
  display: inline-block;
  background-color: olivedrab;
  color: wheat;
  padding: 10px 20px;
  border: 1px colid black;
  border-radius: 5px;
  cursor: pointer;
}

#clickMe:hover {
  background-color: wheat;
  color: olivedrab;
}

.spinnerBox {
  margin: 0 auto;
}

.errorStatus,
.errorStatusText {
  font-weight: 600;
  font-size: 20px;
  color: red;
}